<form>
    <h1>Register</h1>
    Name: <input type="text" name="name" id="name" placeholder="Enter the Name">
    <br>
    <br>
    Employee ID: <input type="text" name="empid" id="empid" placeholder="Enter the ID">
    <br>
    <br>
    Email: <input type="email" name="email" id="email" placeholder="Enter the Email">
    <br>
    <br>
    Password: <input type="password" name="pwd" id="pwd" placeholder="Enter the password">
    <br>
    <br>
    <button type="submit" id="Register">Register</button>
    <button type="submit" id="Home" >Home</button>          
</form>